$largePhone: "(min-width: 576px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px) and (max-width: 1199px)";
$largeDesktop: "(min-width: 1200px)";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9ece5;
  font-family: 'Fira Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: #e9ece5;
  .logo {
    width: 15vw;
    background-image: url("../images/home.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .menu {
    width: 15vw;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .menu2 {
    width: 15vw;
    background-image: url("../images/menuClose.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: right;
  }
}

.forFixed {
  padding-top: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media #{$largePhone}, #{$tablet}, #{$desktop}, #{$largeDesktop} {
    flex-direction: row;
    align-content:	flex-start;
  }
  .image1 {
    background-image: url("../images/buildings.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image2 {
    background-image: url("../images/tenants.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image3 {
    background-image: url("../images/vendors.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image4 {
    background-image: url("../images/payment.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image5 {
    background-image: url("../images/todo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$largePhone} {
      height: 50vh;
      flex-grow: 1;
    }
    h2 {
      color: white;
      text-shadow: 4px 0 10px #3b3a36;
    }
  }
  .slideMenu {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dark {
    background-color: #3b3a36;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    color: white;
  }
}

.addButton {
    background-image: url("../images/add.png");
    background-color: #e9ece5;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 10vw;
    height: 8vh;
    align-self: flex-end;
    border: 0;
}

.card {
  background-color: #b3c2bf;
  box-shadow: 0 4px 8px 0 #3b3a36;
  width: 75vw;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 2vh;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  hr {
    border: 2px solid #c0dfd9;
    width: 40vw;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    color: black;
    font-size: 18px;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    &:hover {
      color: #c0dfd9;
      font-weight: bold;
    }
  }
  .cardbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    button {
      border: none;
      outline: 0;
      align-self: center;
      padding: 3px;
      color: white;
      background-color: black;
      text-align: center;
      cursor: pointer;
      font-size: 12px;
      width: 33.33%;
      text-align: center;
      text-transform: uppercase;
      &:hover {
        color: #c0dfd9;
        font-weight: bold;
      }
    }
    .mainbtn {
      width: 50%;
      background-color: #3b3a36;
    }
  }
}

.plain {
  text-decoration: none;
  h2:hover {
    color: #c0dfd9;
    transform: scale(1.1);
  }
}