* {
  margin: 0;
  padding: 0; }

body {
  background-color: #e9ece5;
  font-family: 'Fira Sans', sans-serif; }

.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: #e9ece5;
  top: 0;
  z-index: 1; }
  .header .logo {
    width: 15vw;
    background-image: url(images/home.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .header .menu {
    width: 15vw;
    background-image: url(images/menu.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .header .menu2 {
    width: 15vw;
    background-image: url(images/menuClose.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: right; }

.forFixed {
  padding-top: 10vh; }

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.headerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .headerContainer {
      flex-direction: row;
      width: 100vw; } }
  .headerContainer .image1 {
    background-image: url(images/buildings.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .headerContainer .image1 {
        width: 33.33vw; } }
    @media (min-width: 1024px) {
      .headerContainer .image1 {
        width: 20vw; } }
  .headerContainer .image2 {
    background-image: url(images/tenants.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .headerContainer .image2 {
        width: 33.33vw; } }
    @media (min-width: 1024px) {
      .headerContainer .image2 {
        width: 20vw;
        background-position-x: 70%; } }
  .headerContainer .image3 {
    background-image: url(images/vendors.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .headerContainer .image3 {
        width: 33.33vw; } }
    @media (min-width: 1024px) {
      .headerContainer .image3 {
        width: 20vw;
        background-position-x: 50%; } }
  .headerContainer .image4 {
    background-image: url(images/payment.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .headerContainer .image4 {
        width: 50vw; } }
    @media (min-width: 1024px) {
      .headerContainer .image4 {
        width: 20vw;
        background-position-x: 50%; } }
  .headerContainer .image5 {
    background-image: url(images/todo.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .headerContainer .image5 {
        width: 50vw; } }
    @media (min-width: 1024px) {
      .headerContainer .image5 {
        width: 20vw;
        background-position-x: 30%; } }
  .headerContainer .box {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .headerContainer .box {
        height: 45vh; } }
    @media (min-width: 1024px) {
      .headerContainer .box {
        height: 90vh; } }
    .headerContainer .box h2 {
      color: white;
      text-shadow: 4px 0 10px #3b3a36; }

.slideContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .slideContainer .slideMenu {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .slideContainer .dark {
    background-color: #3b3a36;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    color: white; }

.addButton {
  background-image: url(images/add.png);
  background-color: #e9ece5;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 10vw;
  height: 8vh;
  align-self: flex-end;
  border: 0; }

.card {
  background-color: #b3c2bf;
  box-shadow: 0 4px 8px 0 #3b3a36;
  width: 70vw;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 2vh;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  position: relative; }
  .card hr {
    border: 2px solid mediumseagreen;
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center; }
  .card p {
    color: black;
    font-size: 18px; }
    .card p span {
      color: white; }
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black; }
    .card a:hover {
      color: #c0dfd9;
      font-weight: bold; }
  .card .cardbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2vh;
    padding-bottom: 2vh; }
    .card .cardbtn button {
      border: none;
      outline: 0;
      align-self: center;
      padding: 3px;
      color: white;
      background-color: black;
      text-align: center;
      cursor: pointer;
      font-size: 12px;
      width: 33.33%;
      text-align: center;
      text-transform: uppercase; }
      .card .cardbtn button:hover {
        color: #c0dfd9;
        font-weight: bold; }
      .card .cardbtn button .navButton {
        font-size: 12px;
        color: white; }
        .card .cardbtn button .navButton:hover {
          color: #c0dfd9;
          font-weight: bold; }
    .card .cardbtn .editbtn {
      width: 50%;
      background-color: #3b3a36; }
      .card .cardbtn .editbtn:hover {
        color: steelblue;
        font-weight: bold; }
    .card .cardbtn .deletebtn {
      width: 50%;
      background-color: #3b3a36; }
      .card .cardbtn .deletebtn:hover {
        color: red;
        font-weight: bold; }

.plain {
  text-decoration: none; }
  .plain h2:hover {
    color: #c0dfd9;
    transform: scale(1.1); }

.estateImg {
  background-image: url(images/buildings.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  margin-bottom: 5vh; }

.tenantImg {
  background-image: url(images/tenants.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  margin-bottom: 5vh;
  background-position-y: 50%; }

.vendorImg {
  background-image: url(images/vendors.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  margin-bottom: 5vh;
  background-position-y: 40%; }

.paymentImg {
  background-image: url(images/payment.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  margin-bottom: 5vh;
  background-position-y: 70%; }

.toDoImg {
  background-image: url(images/todo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  margin-bottom: 5vh;
  background-position-y: 70%; }

.payment {
  background-color: #b3c2bf;
  box-shadow: 0 4px 8px 0 #3b3a36;
  width: 75vw;
  margin: auto;
  padding: 10px;
  display: flex;
  border-radius: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh; }
  .payment hr {
    border: 2px solid mediumseagreen;
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 10px; }
  .payment h2 {
    line-height: 30px; }
  .payment p {
    font-size: 16px; }
    .payment p span {
      color: red;
      font-weight: bold;
      font-size: 20px; }
  .payment .paid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .payment .paidItem {
    color: white;
    font-size: 16px;
    padding: 1vw;
    max-width: fit-content; }
  .payment .confirmPayment {
    font-size: 16px; }
    .payment .confirmPayment span {
      color: steelblue; }

.paidbtn {
  background-color: mediumseagreen;
  border: none;
  border-radius: 12px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 2vw;
  font-size: 14px; }
  .paidbtn:active {
    background: #c0dfd9;
    border: none; }

.sendbtn {
  background-color: steelblue;
  border: none;
  border-radius: 12px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 2vw;
  font-size: 14px;
  margin-top: 2vh; }
  .sendbtn:active {
    background: #3b3a36;
    color: white;
    border: none; }

.greenCircle {
  width: 30px;
  height: 30px;
  background-color: #b3c2bf;
  border: 3px solid mediumseagreen;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 20px; }
  .greenCircle h3 {
    color: mediumseagreen;
    line-height: 30px;
    font-weight: bold;
    text-align: center; }

.toDoList {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .toDoList hr {
    border: 2px solid mediumseagreen;
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 10px; }
  .toDoList .toDoForm {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .toDoList .toDoForm .pick {
      flex-direction: column;
      padding: 3px; }

.addTask {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .addTask .taskPlace {
    width: 50vw;
    height: 20px;
    font-size: 16px;
    text-align: center;
    color: steelblue; }

.toDoCard {
  background-color: #b3c2bf;
  box-shadow: 0 4px 8px 0 #3b3a36;
  width: 75vw;
  margin: auto;
  padding: 10px;
  margin-top: 4vh;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  position: relative; }
  .toDoCard p {
    color: black;
    font-size: 18px; }
    .toDoCard p span {
      color: white; }
  .toDoCard ul {
    margin-left: 20px; }
    .toDoCard ul li {
      color: mediumseagreen;
      padding-top: 5px; }

form {
  font-size: 16px; }
  form input {
    margin: 5px; }

