* {
  margin: 0;
  padding: 0; }

body {
  background-color: lightgrey;
  font-family: 'Fira Sans', sans-serif; }

.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100vw; }
  .header .logo {
    width: 15vw;
    background-image: url(images/home.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .header .menu {
    width: 15vw;
    background-image: url(images/menu.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .header .menu2 {
    width: 15vw;
    background-image: url(images/menuClose.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: right; }

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media (min-width: 576px) and (max-width: 767px), (min-width: 768px) and (max-width: 1023px), (min-width: 1024px) and (max-width: 1199px), (min-width: 1200px) {
    .container {
      flex-direction: row;
      align-content: flex-start; } }
  .container .image1 {
    background-image: url(images/buildings.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .image2 {
    background-image: url(images/tenants.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .image3 {
    background-image: url(images/vendors.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .image4 {
    background-image: url(images/payment.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .image5 {
    background-image: url(images/alert.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .image6 {
    background-image: url(images/todo.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .box {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 576px) and (max-width: 767px) {
      .container .box {
        height: 50vh;
        flex-grow: 1; } }
    .container .box h2 {
      color: white;
      text-shadow: 4px 0 10px darkslategray; }
  .container .slideMenu {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .container .dark {
    background-color: dimgrey;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    color: white; }

.addButton {
  background-image: url(images/add.png);
  background-color: lightgrey;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 10vw;
  height: 8vh; }

.checked {
  background-image: url(images/form_ok.jpg);
  width: 5vw;
  height: 5vh;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat; }

