* {
  margin: 0;
  padding: 0; }

body {
  background-color: #e9ece5;
  font-family: 'Fira Sans', sans-serif; }

.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: #e9ece5; }
  .header .logo {
    width: 15vw;
    background-image: url(images/home.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .header .menu {
    width: 15vw;
    background-image: url(images/menu.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .header .menu2 {
    width: 15vw;
    background-image: url(images/menuClose.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: right; }

.forFixed {
  padding-top: 10vh; }

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media (min-width: 768px) and (max-width: 1023px), (min-width: 1024px) {
    .container {
      flex-direction: row;
      align-content: flex-start; } }
  .container .image1 {
    background-image: url(images/buildings.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .image2 {
    background-image: url(images/tenants.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .image3 {
    background-image: url(images/vendors.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .image4 {
    background-image: url(images/payment.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .image5 {
    background-image: url(images/todo.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .box {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media tablet {
      .container .box {
        height: 50vh;
        flex-grow: 1; } }
    .container .box h2 {
      color: white;
      text-shadow: 4px 0 10px #3b3a36; }
  .container .slideMenu {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .container .dark {
    background-color: #3b3a36;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    color: white; }

.addButton {
  background-image: url(images/add.png);
  background-color: #e9ece5;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 10vw;
  height: 8vh;
  align-self: flex-end;
  border: 0; }

.card {
  background-color: #b3c2bf;
  box-shadow: 0 4px 8px 0 #3b3a36;
  width: 75vw;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 2vh;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  position: relative; }
  .card hr {
    border: 2px solid mediumseagreen;
    width: 40vw;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px; }
  .card p {
    color: black;
    font-size: 18px; }
    .card p span {
      color: white; }
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black; }
    .card a:hover {
      color: #c0dfd9;
      font-weight: bold; }
  .card .greenCircle {
    width: 30px;
    height: 30px;
    background-color: #b3c2bf;
    border: 3px solid mediumseagreen;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 20px; }
    .card .greenCircle h3 {
      color: mediumseagreen;
      line-height: 30px;
      font-weight: bold;
      text-align: center; }
  .card .cardbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2vh;
    padding-bottom: 2vh; }
    .card .cardbtn button {
      border: none;
      outline: 0;
      align-self: center;
      padding: 3px;
      color: white;
      background-color: black;
      text-align: center;
      cursor: pointer;
      font-size: 12px;
      width: 33.33%;
      text-align: center;
      text-transform: uppercase; }
      .card .cardbtn button:hover {
        color: #c0dfd9;
        font-weight: bold; }
      .card .cardbtn button .navButton {
        font-size: 12px;
        color: white; }
        .card .cardbtn button .navButton:hover {
          color: #c0dfd9;
          font-weight: bold; }
    .card .cardbtn .editbtn {
      width: 50%;
      background-color: #3b3a36; }
      .card .cardbtn .editbtn:hover {
        color: steelblue;
        font-weight: bold; }
    .card .cardbtn .deletebtn {
      width: 50%;
      background-color: #3b3a36; }
      .card .cardbtn .deletebtn:hover {
        color: red;
        font-weight: bold; }

.plain {
  text-decoration: none; }
  .plain h2:hover {
    color: #c0dfd9;
    transform: scale(1.1); }

.estateImg {
  background-image: url(images/buildings.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  margin-bottom: 5vh; }

.tenantImg {
  background-image: url(images/tenants.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  margin-bottom: 5vh;
  background-position-y: 50%; }

.vendorImg {
  background-image: url(images/vendors.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  margin-bottom: 5vh;
  background-position-y: 40%; }

.paymentImg {
  background-image: url(images/payment.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  margin-bottom: 5vh;
  background-position-y: 70%; }

.toDoImg {
  background-image: url(images/todo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  margin-bottom: 5vh;
  background-position-y: 70%; }

.payment {
  color: #3b3a36; }
  .payment h2 {
    line-height: 30px; }

